{
    "name": "Spotify Looper",
    "short_name": "Sloooop",
    "description": "",
    "version": "{{ version }}",
    "manifest_version": 2,

    "permissions": [

        "storage",
        "tabs",
        "activeTab",
        "declarativeContent"
    ],

    "background": {
    {{#browserIsChrome}}
        "persistent": true,
    {{/browserIsChrome}}
        "scripts": [
            "background.bundle.js"
        ]
    },

    "content_scripts": [
        {
            "matches": [
                "*://open.spotify.com/*"
            ],
            "js": [
                "contentscript.bundle.js"
            ]
        }
    ],

    "page_action": {
        "default_icon": "images/32_0_unavailable.png"
    },

    "web_accessible_resources": [
        "/html/*",
        "/css/*",
        "/images/*"
    ]
}
